@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Audiowide&family=Telex&display=swap');
/* /Global styles/ */
:root{
    --main-font: 'Alegreya SC', serif;
    --secondary-font: 'Italianno', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark:#ffffff;
    --secondary-font-color: #c59d5f;
    --body-font-color:rgb(54, 53, 51);    
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
    background:rgb(7, 7, 29);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
::-webkit-scrollbar
{
  width: 13px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(7, 7, 29),#c59d5f);
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,gray);
}
/* -------------------header------------------------ */
.logoo {
  color: var(--secondary-font-color);
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: bold;    
}
/*-------------------------- header--------------- */
.wrapper{
  background:rgb(9, 9, 46);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;       
}
nav .content{
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  
}
nav .content .links{
  margin-left: 80px;
  display: flex;
  
}      
.content .logoo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none ;
  font-family: var(--main-font);
}
.content .links li{
  list-style: none;
  line-height: 70px;
  
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 7px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration:none ;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
background:linear-gradient(#a57836, gray);
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}
.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  /* display: none; */
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background:rgb(9, 9, 46);
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
#arrow{
  font-size: 35px;
}
.search-box .go-icon a{
  position: absolute;
  right: 10px;
  top: 25%;  
  background:rgb(9, 9, 46);
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.search-box .go-icon a:hover{ 
  color: var(--secondary-font-color);  
}
.wrapper input[type="checkbox"]{
  display: none;
}
/* dropdown code starts */
 .content .links ul{
  position: absolute;
  background:rgb(9, 9, 46);
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px;
}  
/* * responsive code starts */ 
@media screen and (max-width: 1250px) {
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
    z-index: 30;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }    
}
@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";

  }
  nav .content .links{
    display: block;
    position: fixed;
    background:rgb(9, 9, 46);
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
    z-index: 3;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
    z-index: 3;
  }
  .content .links li a.desktop-link{
    display: none;
  } 
  /* dropdown responsive start */
 .content .links ul{
  position: static;
  opacity: 1;
  visibility: visible;
  background: none;
  max-height: 0px;
  overflow: hidden;
 
  }
  .content .links #show-features:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
  margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 900px){
  .wrapper nav{
    padding: 0 20px;
    z-index: 30;
  }
  .content .logo a{
    font-size: 20px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}
/* --------------------- */

@media screen and (min-width: 900px) {
  section{
      padding: 7.9rem;
  }
  .menu-toggle{
      display: none;
  }
  .nav{
      justify-content: space-between;
  }
  .nav-list{
      position: initial;
      width: initial;
      height: initial;
      background-color: transparent;
      padding: 0;
      justify-content: initial;
      flex-direction: row;
      transform: initial;
      transition: initial;
  }
  .nav-items{
      margin: 0 2.4rem;
      border: none;
  }
  .nav-items:last-child{
       margin-right: 0;
  }
  .nav-link{
      font-size: 1.3rem;
  }
  .active{
      position: relative;
  }
  .active::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      left: 0;
      bottom: -3px;
  }
}
/*--------------------- product heading------------------ */
.prod-head {
  position: absolute;
  top: 14%;
  left: 16%;  
  font-size: 30px;
  }
.a, .b ,.c{
  color:var(--main-font-color-dark);
  font-weight: lighter;
  text-decoration: underline;
}
a:hover{
  color:var(--secondary-font-color)
}
b:hover{
  color:var(--secondary-font-color)
}
c:hover{
  color:var(--secondary-font-color)
}
/* --------------------product Section ---------------------------- */
#prod{
  margin-top: 10%; 
  padding: 40px;
  box-sizing: border-box;   
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;    
  overflow: hidden;    
}
.container{
    position: relative;     
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;  
  
}
@media screen and (max-width: 800px) {
  .prod-head{
    font-size: 25px;
  }
  #prod{   
    margin-top: 16%;
  }
}
/*---product cards----*/
.card1{
 text-align: center;
 margin-bottom: 30px;
}
.container .card {
    position: relative;
    width: 310px;
    height: 300px;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(225,225,225,0.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(15px);
}
.container .card::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(gray,rgb(5, 13, 48));
  clip-path: circle(150px at 80% 10%);
  transition: 0.5s ease-in-out;
}
.container .card:hover:before{
  clip-path: circle(300px at 90% -30%);
}
.container .card .imgbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .imgbox{
    transform: translateY(-60px);
}
.container .card .imgbox img{
    width: 100%;
    margin: 0 0 20px;
    transition:0.5s ease-in-out;
}
.container .card:hover .imgbox img{
    transform: translate(-10px,-30px)rotate(-15deg) scale(1.5) ;
}
.container .card .imgbox h2{
    position: absolute;
    top: 150px;
    color: var(--secondary-font-color);
    font-weight: 600;    
}
.container .card .content{
    position: absolute;
    bottom:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}
.container .card:hover .content{
    opacity: 1;
    visibility: visible;
    transform: translateY(-40px);
    display: flex;
}
.container .card .content .size
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
.container .card .content .size h3
{
  text-align: center;    
  color: var(--secondary-font-color);    
  text-transform: uppercase;
  letter-spacing: 2px;   
  font-size: 20px;   
  font-weight: 500;
}

.container .card .content a{
    position: relative;
    top: 18px;
    margin: 5px;
    padding: 9px;    
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;  
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
}
.container .card .content a:hover{
    background: var(--secondary-font-color);
}


/* ------------------pagenation------------------- */
#pagenation{
  z-index: 3;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
  display: flex;
  margin: 0;
  padding: 0;
}
.page li{
  list-style: none;
}
.page li a{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  background: rgb(7, 7, 29);
  color: #565656;
  text-decoration: none;
  margin: 5px;
  border-radius: 4px;
  box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.5);
}
.page li a:hover{
  color: #fff;
  text-shadow: 0 0 20px #c59d5f,
               0 0 20px #c59d5f,
               0 0 20px #c59d5f,
               0 0 20px #c59d5f,
               0 0 20px #c59d5f,
               0 0 20px #c59d5f,
               0 0 20px #c59d5f,
               0 0 20px #c59d5f;
}
/*--------------------------------footer---------------------*/
.sci{
  margin-top: 20px;
  display: flex;
}
.sci li{
  list-style: none;  
}
footer .containers{
  background: rgba(225, 225, 225, 0.123);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  border: 2px solid rgba(255,255,255,0.18);
  width: 100%;
  padding: 15px 40px;
}
footer .containers .sec{
  margin-right: 30px;
}
footer .containers .sec.aboutus{
  width: 40%;
}
footer .containers h2{
  font-size: 2rem;
  font-family: var(--secondary-font);
  color: var(--secondary-font-color);
  font-weight: 500;
  position: relative;  
  margin-bottom: 15px;
}
footer .containers h2:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background:#c59d5f;
}
footer p{
  color: white;
  font-family: var(--main-font);
}
.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: #000;
  background:gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a:hover{
  background:var(--secondary-font-color);
}
.sci li .fa{
  color: white;
  font-size: 20px;
}
.quicklinks{
  position: relative;
  width: 25%;
}
.quicklinks ul li{
  list-style: none;
}
.quicklinks ul li a{
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  font-family: var(--main-font);
}
.quicklinks ul li a:hover{
  color:var(--secondary-font-color);
}
.contact{
  width: calc(35% - 60px);
  margin-right: 0 !important;
  font-family: var(--main-font);
}
.contact .info{
  position: relative;
}
.contact .info li{
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
  color: white;
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li span{
  color: white;
}
.contact .info li a{
  color: white;
  text-decoration: none;
}
.contact .info li a:hover{
  color: var(--secondary-font-color);
}
.copyrightText{
  width: 100%;
  padding: 8px 100px;
  text-align: center;
  color: white;
  background: rgba(255,255,255,0.24);
  box-shadow: 0 8px 32px 0 rgba(19,19,20,0.37);
  backdrop-filter: blur(1px);
  border-bottom: 3px solid rgba(255,255,255,0.18);
  font-family: var(--main-font);
}

/*---------------- responsive footer --------------------- */
@media (max-width: 800px)
{
  footer{
    padding: 40px;
  }
  footer .containers{
    flex-direction: column;
  }

  footer .containers .sec{
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .containers .sec.aboutus,
  .quicklinks, .contact{
    width: 100%;
  }
  .copyrightText{
    padding: 8px 40px;
  }
} 
/* --------------------popup---------------------------------- */
  .bg {
    background: rgba(225,225,225,0.3);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(15px);   
    padding: 16px;
    width: 88.5%;
    margin-left: 20px;
    margin-top: -20px;
  }
.detail-btn{
    color:var(--secondary-font-color);
    text-transform: uppercase;
    padding: 10px;
    font-size: 25px;
    font-family: var(--main-font);
}
.bg:hover{
  background:linear-gradient(black, gray);  
}
.popup{
    width: 100%;
    /* height: 100vh; */
    display: none;
    position: fixed;
    top: 0;
    right: 0;
}
#popup-article:target{
    display: flex;
    z-index: 4;
}
#popup-article2:target{
  display: flex;
  z-index: 4;
}
#popup-article3:target{
  display: flex;
  z-index: 4;
}
#popup-article4:target{
  display: flex;
  z-index: 4;
}
#popup-article5:target{
  display: flex;
  z-index: 4;
}
#popup-article6:target{
  display: flex;
  z-index: 4;
}
#popup-article7:target{
  display: flex;
  z-index: 4;
}
#popup-article8:target{
  display: flex;
  z-index: 4;
}
#popup-article9:target{
  display: flex;
  z-index: 4;
}

.popup:before{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    background-color: rgb(19, 32, 73);
    backdrop-filter: 15px;
    position: fixed;
    left: 0;
    top: 50%;
    will-change: height, top;
    animation: open-animation 0.3s cubic-bezier(0.83,0.04,0,1.16) 0.65s both;
}
.popup:after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #f0f0f0;
    will-change: width, opacity;
    animation: line-animation 0.3s cubic-bezier(0.83,0.04,0,1.16)  both;
    position: absolute;
    top: 50%;
    left: 0;
    /* margin-top: -1px; */
}
@keyframes line-animation{
    0%{
        width: 0;
        opacity: 1;
    }
    99%{
        width: 100%;
        opacity: 1;
    }
    100%{
        width: 100vh;
        opacity: 0;
    }
}
@keyframes open-animation{
    0%{
        height: 0;
        top: 50%;
    }
    100%{
        height: 100vh;
        top: 0;
    }
}
.popup-block{
  
    height: 100vh;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    /* overflow: auto; */
    overflow-y: scroll;   
    animation: fade 0.3s ease-out 1.3s both;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.popup-title{
  font-size: 2.5rem;
  text-align: left;
  color: var(--secondary-font-color);
  font-family: var(--secondary-font);
}
.description{
  margin: 20px;
  padding: 0 20px;
  color: var(--main-font-color-dark);
  font-size:18px;
  text-align: left;
  font-family: var(--body-font);
  font-weight: 100;
}
.popup-close a{
  visibility: hidden;
}
.popup-close{
    width: 3.2rem;
    height: 3.2rem;
    /* for hiding txt */
    text-indent: -9999px; 
    position: fixed;
    top: 15%;
    right: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(cross.png);

}
#specs{
  color: #c59d5f;
  font-size: 24px;
}
#info{
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.rimgs{
  display:flex;
 flex-direction: row; 
}
.rimgs img{
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50%; 
}
.btn{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 38%; 
  margin-bottom: 20px ; 
}
.cta-btn{
  font-size: 1.1rem;
  background-color: var(--secondary-font-color);
  padding: .9rem 1.8rem;
  color: var(--main-font-color-dark);
  border-radius: .4rem;
  transition: background-color .5s;
}
.cta-btn:hover,
.cta-btn:focus{
  color: black;
  background-color:var(--main-font-color-dark);}