.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
    list-style: none;  
}
body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.footer{
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    margin-top: 200px;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.theme-bg{
    background: rgba(255,255,255,0.24);
    box-shadow: 0 8px 32px 0 rgba(19,19,20,0.37);
    backdrop-filter: blur(1px);
    border: 3px solid rgba(255,255,255,0.18);
}
footer .containers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  footer .containers .sec{
    margin-right: 30px;
  }
  footer .containers .sec.aboutus{
    width: 40%;
  }
  footer .containers h2{
    position: relative;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
  }
  footer .containers h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background:firebrick;
  }
  footer p{
    color: navy;
  }

  .sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 2px;
    background:gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
  }
  .sci li a:hover{
    background: lightpink;
  }
  .sci li .fa{
    color: #fff;
    font-size: 20px;
  }
  .quicklinks{
    position: relative;
    width: 25%;
  }
  .quicklinks ul li{
    list-style: none;
  }
  .quicklinks ul li a{
    color: navy;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  .quicklinks ul li a:hover{
    color: #fff;
  }
  .contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
  }
  .contact .info{
    position: relative;
  }
  .contact .info li{
    display: flex;
    margin-bottom: 16px;
  }
  .contact .info li span:nth-child(1){
    color: navy;
    font-size: 20px;
    margin-right: 10px;
  }
  .contact .info li span{
    color: navy;
  }
  .contact .info li a{
    color: navy;
    text-decoration: none;
  }
  .contact .info li a:hover{
    color: #fff;
  }
  .copyrightText{
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    color: navy;
    background: rgba(255,255,255,0.24);
    box-shadow: 0 8px 32px 0 rgba(19,19,20,0.37);
    backdrop-filter: blur(1px);
    /* border: 3px solid rgba(255,255,255,0.18); */
  }
  @media (max-width: 991px)
  {
    footer{
      padding: 40px;
    }
    footer .containers{
      flex-direction: column;
    }
    footer .containers .sec{
      margin-right: 0;
      margin-bottom: 40px;
    }
    footer .containers .sec.aboutus,
    .quicklinks, .contact{
      width: 100%;
    }
    .copyrightText{
      padding: 8px 40px;
    }
  }