*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}
body{
    background-image: url(bg1.jpEg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    display: flex;
    min-height: 100vh;
}
h1{
    font-family: "Acme", sans-serif;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 2;
}
.section-login{
    display: flex;
    height: 100%;
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 2;
    color: #fff;
    padding: 3rem;
}
.header > h4{
    font-family: "Acme",sans-serif;
    font-size: 1.8rem;
}
.header > span{
    font-size: 1.5rem;
}

.btn{
    display: flex;
    width: 15%;
    justify-content: space-evenly;
    margin-top:20px;
    padding: 10px;
    background:red;
    border-radius: 20px;
    font-size: 14px;    
}
.btn a 
{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.btn:hover
{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border:1px solid #fff ;
    background: black;
    }
.login-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 600%;
    padding: 9rem;
    color: #fff;
    min-height: 110vh;
}
.login-left > button{
    background: #9b0806;
    color: #fff;
    border-radius: 20px;
    border: 2px solid #9b0806;
    padding: 0.4rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.login-left > button:hover{
    background: transparent;
    border: 2px solid #fff;
    letter-spacing: 2;
}
.login-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    color: #fff;
    background: rgba(10, 10, 10, 0.05);
    backdrop-filter: blur(10px);
}

.login-right > p{
    padding-top: 1rem;
}
.login-right > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.login-input{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0.5rem 0 rem;
    width: 100%;
}
.login-input > input{
    background: transparent;
    color: #fff;
    padding: 0.4rem 1.2rem;
    margin-bottom: 10px;
    border: none;
    border-bottom: 4px double #fff;
}
.login-input > input::placeholder{
    color: #fff;
    font-size: 0.8rem;
}
.login-input > input:focus{
    border-bottom: 4px double #196fb1;
}

.login-input > label{
    position: absolute;
    font-size: 1.2rem;
    top: 7;
    color: #fff;
}
/*checkbox*/
.login-checkbox{
    display: flex;
    align-items: center;
    width: 100%;
}
.login-checkbox > label{
    font-size: 0.8rem;
    padding-left: 5px;
    color: #fff;
}

.login-button{
    background: transparent;
    border-radius: 20px;
    width: 40%;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 1rem;
    padding: 0.4rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.login-button:hover{
    background: #0b283e;
    border: 2px solid #0b283e;
    letter-spacing: 2;
}

/*for mobile*/
.login-mobile{
    display: none;
    text-align: center;
    margin-top: 30px;
}
.login-mobile > a{
    margin-top: 0.5rem;
    color: #fff;
}
@media screen and (max-width:700px)
 {
    .login-left{
        display: none;
    }
    .login-right{
        width: 100%;
    }
    .login-mobile{
        display: block;
    }
    span.psw {
        display: block;
        float: none;
      }
}


.container {
    padding-top: 30px;
}

.psw a {    
    text-decoration: none;
    color: rgb(78, 75, 226);    
}
 .psw a:hover{
     color: rgb(151, 21, 75);
 }


